@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  height: 100vh;
  padding: 0.1rem;
}
.header {
  max-width: 1280px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}
.heading {
  font-size: 2rem;
}
.navmenu ul {
  display: flex;
  gap: 1.4rem;
  justify-content: space-between;
}
.navlink {
  text-decoration: none;
  color: rgba(41, 29, 29, 0.808);
  font-size: 1.1rem;
  font-weight: bold;
}
li {
  list-style: none;
}
.navlink:hover {
  color: rgba(0, 12, 250, 0.792);
}
.btn {
  color: rgba(41, 29, 29, 0.808);
  font-size: 1rem;
  font-weight: bold;
  background-color: navajowhite;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
}
.btn:hover {
  background-color: rgb(9, 113, 203);
  color: white;
}
.secondbtn:hover {
  background-color: rgb(11, 215, 69);
}
.firstbtn:hover {
  background-color: rgb(0, 102, 192);
}
@media screen and (max-width: 770px) {
  .header {
    flex-direction: column;
    gap: 25px;
  }
}
@media screen and (max-width: 380px) {
  .navmenu ul {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
.top-1-inside {
  max-width: 1280px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem;
  gap: 2rem;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 50%;
  text-align: left;
}
.text-top-1 {
  font-size: 1.2rem;
  color: blueviolet;
}
.heading-top-1 {
  font-size: 3.8rem;
}
.para-top-1 {
  font-size: 1.1rem;
  width: 78%;
  color: rgb(147, 141, 133);
}
.btn-top-1 {
  margin-top: 10px;
}
.firstbtn,
.secondbtn {
  background-color: rgb(48, 3, 250);
  color: aliceblue;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}
.secondbtn {
  background-color: rgb(142, 224, 9);
  color: black;
  margin-left: 10px;
}
.right {
  height: 480px;
  width: 480px;
}
.image-top-1 {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 770px) {
  .top-1-inside {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .left {
    max-width: 100%;
    text-align: center;
  }
  .para-top-1 {
    width: 100%;
  }
  .heading-top-1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .right {
    width: 100vw;
    padding: 15px;
  }
  .heading-top-1 {
    font-size: 3rem;
  }
}
.company-content {
  width: 60%;
  padding: 1rem 2rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.company-icon {
  min-width: 80%;
  padding: 1.75rem 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 1.75rem;
  background-color: #a39a9ac5;
  margin-top: 1.75rem;
  border-radius: 1rem;
  font-weight: 600;
}
.company-name {
  font-size: 1.2rem;
  line-height: 1rem;
}
.head-1 {
  font-size: 2.25rem;
}
.icon {
  height: 20px;
}
@media screen and (max-width: 700px) {
  .company-content {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .head-1 {
    font-size: 1.5rem;
  }
  .company-icon {
    gap: 0.5rem;
  }
  .company-name {
    font-size: 1rem;
  }
}
.detail {
  background-color: #d5c3c3;
  padding: 2.5rem 0rem;
  text-align: center;
}
.mid {
  max-width: 800px;
  margin: 0px auto;
}
.mid-head {
  font-size: 2.3rem;
  padding: 1rem 1rem;
}
.mid-para {
  margin-bottom: 1rem;
}
.flexy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1.3rem;
}
.flexy-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.7rem;
  gap: 1rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: rgb(33, 66, 228);
}

.head-flexy {
  color: #fff;
  font-size: 1.5rem;
}
.image-flexy {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.para-flexy {
  font-size: 1rem;
}
@media screen and (max-width: 820px) {
  .flexy {
    grid-template-columns: repeat(1, 0.75fr);
    justify-content: center;
  }
}
.flexy-mid:nth-child(1) {
  background-color: blueviolet;
}
.flexy-mid:nth-child(2) {
  background-color: rgb(245, 225, 8);
}
.flexy-mid:nth-child(3) {
  background-color: rgb(202, 1, 1);
}
.flexy-mid:nth-child(4) {
  background-color: rgb(98, 201, 14);
}
.flexy-mid:nth-child(5) {
  background-color: rgb(212, 0, 223);
}
.flexy-mid:nth-child(6) {
  background-color: rgb(226, 43, 43);
}
.teacher {
  padding: 2.25rem 1.25rem;
}
.teacher-section {
  max-width: 1280px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  text-align: center;
}
.teacher-inside {
  font-size: 1.8rem;
}
.teacher-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.gridy {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 0.5rem; */
  border: 1px black solid;
  border-radius: 15px;
  color: #555;
}
.gridy-image {
  height: 80px;
  width: 80px;
  margin-top: 1rem;
}
.gridy-para {
  font-size: 0.9rem;
}
.gridy-para-2 {
  color: rgb(120, 117, 117);
  font-size: 0.9rem;
}
.gridy-heading {
  color: blueviolet;
  font-size: 1rem;
  margin-top: 1rem;
}
.gridy:hover {
  border: 2px blue solid;
}
@media screen and (max-width: 1030px) {
  .teacher-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 770px) {
  .teacher-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.news {
  padding: 1rem 0px;
}
.news-section {
  max-width: 1280px;
  height: 50vh;
  margin: 0px auto;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news-image {
  height: auto;
  width: 50%;
  display: block;
}
.new-image-inside {
  height: 100%;
  width: 100%;
}
.news-header {
  font-size: 2.25rem;
  color: blueviolet;
}
.news-right {
  padding: 3rem 6rem;
}
#aman {
  color: #514d4d;
}
.ip {
  margin-top: 15px;
  margin-bottom: 15px;
}
.text-input {
  padding: 0.5rem;
  border: 1px rgb(101, 92, 92) solid;
  border-radius: 3px;
}
.btn2 {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  color: #fff;
}
.news-right-para {
  font-size: 0.8rem;
  margin-top: 40px;
}
.news-right-para a {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .news-section {
    max-width: 840px;
  }
  .news-right {
    padding: 1rem;
  }
  .news-image {
    width: 80%;
  }
  .news-header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 770px) {
  .news-image {
    display: none;
  }
  .news-section {
    justify-content: center;
    padding: 0.5rem;
    max-height: 40vh;
    text-align: center;
  }
  .ip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .news-right-para {
    margin-top: 10px;
  }
}
.footer {
  max-width: 1280px;
  margin: 0px auto;
}
.footer-top {
  max-width: 1280px;
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-evenly;
}
.one {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.one-image {
  display: flex;
  gap: 0.75rem;
}
.one-image2 {
  height: 20px;
  width: 20px;
}
.two,
.three,
.four,
.five {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.h-para {
  font-size: 1rem;
}
.links {
  font-size: 0.9rem;
  color: rgb(132, 129, 129);
}
.six {
  max-width: 500px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.footer-botton {
  text-align: center;
  padding: 1.6rem;
  font-size: 0.75rem;
  margin: 0px auto;
  color: grey;
  border-top: 1px grey solid;
}
@media screen and (max-width: 770px) {
  .footer-top {
    max-width: 760px;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    text-align: center;
  }
  .one {
    align-items: center;
  }
  .six {
    max-width: 400px;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 2rem;
  }
}
